.shout-outs {
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 30px;
    font-size: 40px;
    background-color: rgba(51, 51, 51, 0.9);
    margin-bottom: -57px;
    bottom: 50%;
}

.shout-outs-picture {
    position: absolute;
    border-radius: 5px;
    left: calc(50% - 320px);
    top: calc(50% - 240px);
    right: 0;
    bottom: 0;
}