.shout-out-input button {
    border:    none;
    display:   block;
    width:     200px;
    padding:   20px;
    font-size: 24px;
    margin:    25px auto auto;
    background: white;
}

.shout-out-input-inner {
    width: 100%;
}

.tool-bar {
    position: absolute;
    width: 100%;
    top: 0px;
}

.tool-bar button {
    display: inline-block;
    margin-right: 5px;
}